.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 0.05fr 0.05fr 0.3fr;
  grid-template-columns:0.3fr;
  grid-template-areas:
    "header"
    "week"
    "main";
}
.MainCalendar-base {
  grid-area: main;
  background-color: peru;
}

.Week-base{
  grid-area: week;
}
.Top-base {
  grid-area: header;
  background-color: #2d3436;
  color:#b2bec3;
}

.Top-yearNmonth {
  display: inline;
  float: right;
  right: 10%;
  margin-top: 5%;
  padding: 0%;
}
.Top-today {
  display: inline;
  padding-left: 10px;
  float: left;
}
.Top-buttons {
  list-style: none;
  margin: 0;
  padding-right: 3%;
}

.Top-buttons li {
  font-size: 15px;
  float: right;
  margin: 0%;
  padding: 1%;
}
.Top-buttons li img {
  padding-top: 20%;
  width: 30px;
}
.Top-goToday{
  color:#dfe6e9;
  
}

.MainCalendar-header {
  display: flex;
  height: 45px;
}

.Calendar-daysOrend {
  width: 100%;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  background-color: #485460;
  font-size: 1.3rem;
  line-height: 50px;
}

.Calendar-daysOrend:nth-child(odd) {
  border-left: none;
  border-right: none;
}
.sunday {
  color: #c44569;
}
.saturday {
  color: #546de5;
}
.weekdays {
  color: black;
}

.AllDays-days {
  height: 10vh;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-top: none;
  background-color: #1e272e;
  text-align:center;
  
}

.AllDays-week {
  display: flex;
  flex-grow: 1;
}

/*.AllDays-days:nth-child(odd) {
  border-left: none;
  border-right: none;
}*/

.AllDays-days-label {
  display: inline-block;
  font-size: 1.2rem;
  padding-top: 20%;
}

.days-color {
  color: #d2dae2
}
.not-thisMonth {
  color:#808e9b;
}

.selected  {
  border-style: solid;
  border-width: 1px;
  border-color: peachpuff;
}
.selected label {
  color:#d2dae2 ;
}
 .Scroll{
  overflow-y: scroll;
  height: 500px;
}
 *{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} 
